body{
    margin: 0px 100px;
    
}
body>h1, h2,h3,h4,h5,h6{
    font-family: 'Bebas Neue', cursive;
}
.margin{
    margin: 0px 30px;
}
.margin-w-sec{
    margin: 0px 50px;
}

.ctm-header{
    background-color: #fffbf0;
}
.ctm-nav-logo>a>img{
    margin-left: 30px;
}
.ctm-nav-item li{
    margin-left: 30px;
    color: black;
}
.ctm-nav-item li a{
    color: black;
    font-weight: 600;
}
.ctm-nav{
    display: flex;
    justify-content: flex-end;
}

.welcome-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.welcome-f{
    color: rgba(250, 190, 76, 1);
    text-transform: uppercase;
    font-weight: 700;
}
.welcome-s{
    color: rgba(54, 57, 88, 1);
    text-transform: uppercase;
    font-weight: 700;
}

.
.welcome-image{
    margin-left: 50px;
}
.women-img-1{
    margin-top: 10px;
    margin-left: 32px;
    height: 220px;
    width: 200px;
}
.buy-btn{
    background-color: #a4bc46;
}
.buy-btn>i{
    color: white;
}

.ctm-card{
    background-color: #f1f1f1;
    margin: 20px;
    border-radius: 15px;
}
.card-box-height{
    height: 450px;
    width: 300px;
    margin: 10px
}
.card-height{
    height: 250px;
}

.ctm-card-footer{
    background-color: white;
    border-top: 0;
}
.footer-box{
    display: grid;
    grid-gap: 5px;
    
}

.footer-option{
    width: 400px;
    height: 100px;
}

.item-4{
    grid-column: 2;
    grid-row: 1 / span 3;
  }

.item-4 img{
    height: 250px;
    width: 400px;
}


@media (max-width: 600px){
    body{
        margin: 0px 0px;
    }
    .margin{
        margin: 0px 0px;
    }
    .ctm-nav{
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 600px){

}
@media (min-width: 768px){
    
}
@media (min-width: 992px){
    
}
@media (min-width: 1200px){
    
}